.codeViewerSelectAll {
	position: absolute;
	display: inline-block;
	left: 100%;
	padding: 5px;
	top: 0px;
	margin-top: 60px;
	margin-left: -150px;
	width: 100px;
	background-color: #e0e0e0;
	border: 1px solid #c0c0c0;
	color: #707070;
	cursor: pointer;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.codeViewerSelectAll:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}



.codeViewerCollapsed {
    display: none;
    padding: 10px 20px;
}
/* --- CODE VIEWER jQuery UI Tab Overrides --- */


.igsb-tabs.ui-tabs {
    margin-top: 20px;
    padding: 0;
    font: 16px "Segoe UI",Helvetica,Tahoma,Arial,Verdana,sans-serif;
}

.igsb-tabs.ui-tabs .ui-tabs-nav {
    background-color: #c1c8c7;
    border: 0 none;
    padding: 0;
    text-align:left;
    border-radius: 0;
}
.igsb-tabs.ui-tabs .ui-tabs-nav li {
    background: transparent none;
    border-width: 0;
    border-color: transparent;
    border-bottom-width: 5px;
    margin: 0;
    top: 0;
    height: 35px;
    border-radius: 0;
    float:left;
}
.igsb-tabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    font-size: 16px;
    line-height: 40px;
    padding: 0 1em;
}
.igsb-tabs.ui-tabs .ui-tabs-nav li.ui-state-default a,
.igsb-tabs.ui-tabs .ui-tabs-nav li.ui-state-hover a,
.igsb-tabs.ui-tabs .ui-tabs-nav li.ui-state-active a{
    color: #334947;
    text-shadow: none;
}
/* hover tab */
.igsb-tabs.ui-tabs .ui-tabs-nav li.ui-state-hover {
    border-bottom: 5px solid #F8653A !important; 
}
/* active tab */
.igsb-tabs.ui-tabs .ui-tabs-nav li.ui-state-active {
    border-bottom: 5px solid #334947 !important;
    padding-bottom: 0;
}

/* tab panel */
.igsb-tabs.ui-tabs .ui-tabs-panel {
    max-height: 600px;
    padding: 20px;
    overflow: auto;
    border-color: #d3d3d3;
}

.igsb-sep-code-viewer {
    height: 350px;
}

.igsb-code-tray .code-viewer {
    border: 1px solid lightgrey;
}

#bottomSection .igsb-tabs .ui-tabs-nav{
    height: 40px;
}
/* --- END CODE VIEWER jQuery UI Tab Overrides --- */

.codeViewerButton {
    background-color: #4B956B;
	 border: 1px solid #4B956B;
	 color: #FFFFFF;
	 cursor: pointer;
	 border-radius: 4px;
    margin: 20px 0;
}
.codeViewerButton:hover {
	 border-color: #F9663B;
	 background-color: #F9663B;
	 color: #FFFFFF;
}

#codeViewerPopup .ui-accordion-header-icon {
	display: none !important;
}
#codeViewerPopup .ui-accordion-header {
	padding-left: 0.5em !important;
}

#codeViewerPopup .ui-accordion {
    font: 16px "Segoe UI",Helvetica,Tahoma,Arial,Verdana,sans-serif;
}

#codeViewerPopup .ui-accordion .ui-accordion-header, 
#codeViewerPopup .ui-accordion .ui-state-active.ui-accordion-header {
    margin: 0;
    border: 0 none transparent;
    padding: 8px;
    background-color: #cccccc !important;
    color: #666666;
    border-radius: 0;
    font-family: 16px "Segoe UI",Helvetica,Tahoma,Arial,Verdana,sans-serif;
    font-weight: bold;
}

#codeViewerPopup .ui-accordion .ui-accordion-content {
    background-color: #FFFFFF;
} 

#codeViewerPopup {
    display: none;
	 visibility: hidden;
    position: absolute;
    padding: 0px;
	 z-index: 1000001;
	 background: #f8f8f8;
	 top: 0px;
	 left: 0px;
	 width: 100%;
}
.codeViewerPopupHideButton {
    display: inline-block;
    padding: 2px 15px 2px 15px;
    margin: 5px;
}


/*For Phones - Portrait and Landscape*/
@media screen and (max-width: 470px) { 
    .codeViewerCollapsed {
        display: inline-block;
    }

    .igsb-tabs.ui-tabs {
        display: none;
    }

    #codeViewerPopup {
        display: block;
    }
}